# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: ollama
spec:
  interval: 1h
  chart:
    spec:
      chart: ollama
      version: 1.46.0
      sourceRef:
        kind: HelmRepository
        name: ollama
        namespace: flux-system

  values:
    replicaCount: 1
    ollama:
      gpu:
        enabled: true
        type: nvidia
        number: 1
      models:
        pull:
          - qwen3:4b
    service:
      type: ClusterIP
      port: 11434
    resources:
      requests:
        cpu: 500m
        memory: 4Gi
      limits:
        memory: 16Gi
    persistentVolume:
      enabled: true
      size: 50Gi
      storageClass: ceph-block
      accessMode: ReadWriteOnce
    tolerations:
      - key: nvidia.com/gpu
        operator: Exists
        effect: NoSchedule
