# yaml-language-server: $schema=https://json.schemastore.org/kustomization
---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - externalsecret.yaml
  - helmrelease.yaml
  - pvc.yaml
configMapGenerator:
  - name: steam-init-scripts
    files:
      - udevd.sh=resources/udevd.sh
configurations:
  - kustomizeconfig.yaml
