---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: hajimari
spec:
  interval: 30m
  chart:
    spec:
      chart: hajimari
      version: 2.0.2
      sourceRef:
        kind: HelmRepository
        name: hajimari-charts
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  values:
    priorityClassName: internal-only
    env:
      TZ: ${TIMEZONE}
    hajimari:
      title: Apps
      instanceName: tailscale
      lightTheme: paper
      darkTheme: chalk
      alwaysTargetBlank: true
      showGreeting: true
      showAppGroups: false
      showAppStatus: false
      showBookmarkGroups: false
      showGlobalBookmarks: false
      showAppUrls: true
      defaultEnable: true
      namespaceSelector:
        any: true
    ingress:
      main:
        enabled: true
        ingressClassName: tailscale
        hosts:
          - host: &tsHost "{{ .Release.Name }}.kite-harmonic.ts.net"
            paths:
              - path: /
                pathType: Prefix
        tls:
          - hosts:
              - *tsHost
    podAnnotations:
      configmap.reloader.stakater.com/reload: hajimari-settings
    persistence:
      data:
        type: emptyDir
    resources:
      requests:
        cpu: 10m
      limits:
        memory: 128Mi
