---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: paperless-ai
spec:
  refreshInterval: 5m
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword
  target:
    name: paperless-ai-secret
    creationPolicy: Owner
    template:
      engineVersion: v2
      data:
        PAPERLESS_API_TOKEN: "{{ .PAPERLESS_API_TOKEN }}"
        PAPERLESS_USERNAME: "{{ .PAPERLESS_USERNAME }}"
  dataFrom:
    - extract:
        key: paperless-ai
