# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &name cluster-secrets
  namespace: &ns external-secrets
spec:
  commonMetadata:
    labels:
      app.kubernetes.io/name: *name
  dependsOn:
    - name: onepassword
      namespace: external-secrets
  healthCheckExprs:
    - apiVersion: external-secrets.io/v1beta1
      kind: ClusterExternalSecret
      failed: status.conditions.filter(e, e.type == 'Ready').all(e, e.status == 'False')
      current: status.conditions.filter(e, e.type == 'Ready').all(e, e.status == 'True')
  interval: 30m
  retryInterval: 1m
  path: kubernetes/apps/external-secrets/cluster-secrets
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  targetNamespace: *ns
  timeout: 5m
  wait: true
