# yaml-language-server: $schema=https://json.schemastore.org/kustomization
---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: kube-system
resources:
  # renovate: datasource=github-releases depName=medik8s/self-node-remediation
  - https://github.com/medik8s/self-node-remediation/config/default?ref=v0.11.0
  - template.yaml
  - certificate.yaml
images:
  - name: quay.io/medik8s/self-node-remediation-operator
    newTag: v0.12.0
patches:
  # Fix unresolved ${IMG} env var used to create the agent DaemonSet
  # Mount webhook TLS cert from cert-manager
  - target:
      kind: Deployment
      name: self-node-remediation-controller-manager
    patch: |-
      apiVersion: apps/v1
      kind: Deployment
      metadata:
        name: self-node-remediation-controller-manager
      spec:
        template:
          spec:
            containers:
              - name: manager
                env:
                  - name: SELF_NODE_REMEDIATION_IMAGE
                    # renovate: datasource=docker depName=quay.io/medik8s/self-node-remediation-operator
                    value: quay.io/medik8s/self-node-remediation-operator:v0.12.0
                volumeMounts:
                  - name: webhook-cert
                    mountPath: /tmp/k8s-webhook-server/serving-certs
                    readOnly: true
            volumes:
              - name: webhook-cert
                secret:
                  secretName: self-node-remediation-webhook-cert
  # Inject caBundle from cert-manager into webhook configurations
  - target:
      kind: ValidatingWebhookConfiguration
    patch: |-
      apiVersion: admissionregistration.k8s.io/v1
      kind: ValidatingWebhookConfiguration
      metadata:
        name: self-node-remediation-validating-webhook-configuration
        annotations:
          cert-manager.io/inject-ca-from: kube-system/self-node-remediation-webhook-cert
  - target:
      kind: MutatingWebhookConfiguration
    patch: |-
      apiVersion: admissionregistration.k8s.io/v1
      kind: MutatingWebhookConfiguration
      metadata:
        name: self-node-remediation-mutating-webhook-configuration
        annotations:
          cert-manager.io/inject-ca-from: kube-system/self-node-remediation-webhook-cert
