---
# yaml-language-server: $schema=https://raw.githubusercontent.com/datreeio/CRDs-catalog/main/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app vanilla
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  values:
    controllers:
      *app:
        type: statefulset
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          *app:
            image:
              repository: ghcr.io/itzg/minecraft-server
              tag: 2026.2.1-java21
            env:
              EULA: "true"
              TZ: America/Chicago
              TYPE: "VANILLA"
              VERSION: "LATEST"
              ICON: https://media.forgecdn.net/avatars/thumbnails/1382/76/64/64/638896474054932351.png
              MOTD: |
                A Minecraft server on %VERSION%.
                §oHosted on §dJupiter§r
              SERVER_NAME: *app
              DIFFICULTY: normal
              ALLOW_FLIGHT: true
              ENFORCE_WHITELIST: "true"
              WHITELIST_FILE: /config/whitelist.json
              OPS_FILE: /config/ops.json
              EXISTING_WHITELIST_FILE: SYNC_FILE_MERGE_LIST
              EXISTING_OPS_FILE: SYNC_FILE_MERGE_LIST
              PAUSE_WHEN_EMPTY_SECONDS: "60"
              INIT_MEMORY: 1G
              MAX_MEMORY: &max-memory 4G
            envFrom:
              - secretRef:
                  name: vanilla-secret
            probes:
              liveness: &probe
                enabled: true
                custom: true
                spec:
                  periodSeconds: 60
                  exec: &probeexec { command: [ "mc-health" ] }
              readiness: *probe
              startup:
                <<: *probe
                spec:
                  initialDelaySeconds: 30
                  periodSeconds: 1
                  failureThreshold: 300
                  exec: *probeexec
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }
            resources:
              requests:
                cpu: 1
                memory: *max-memory
        pod:
          securityContext:
            runAsUser: 568
            runAsGroup: 568
            runAsNonRoot: true
            fsGroup: 568
            fsGroupChangePolicy: OnRootMismatch
    service:
      *app:
        annotations:
          mc-router.itzg.me/externalServerName: "minecraft.zebernst.dev"
          mc-router.itzg.me/autoScaleUp: "true"
          mc-router.itzg.me/autoScaleDown: "true"
        ports:
          game:
            port: 25565
          rcon:
            port: 25578
    persistence:
      tmp:
        type: emptyDir
      config:
        type: configMap
        name: vanilla-config
        globalMounts:
          - path: /config
            readOnly: true
      data:
        existingClaim: *app
        globalMounts:
          - path: /data
