# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app wizarr
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  dependsOn:
    - name: plex
    - name: overseerr

  values:
    controllers:
      wizarr:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository:  ghcr.io/wizarrrr/wizarr
              tag: v2026.2.1@sha256:855e2a9a98eb18ffee26f321aac5a58712bcb04a537f10c21b95d191f9407588
            env:
              TZ: America/Chicago
              PUID: 568
              PGID: 568
            resources:
              requests:
                cpu: 15m
                memory: 300Mi
              limits:
                memory: 1Gi
    defaultPodOptions:
      priorityClassName: external-facing
      securityContext:
        runAsNonRoot: true
        runAsUser: 568
        runAsGroup: 568
        fsGroup: 568
        fsGroupChangePolicy: OnRootMismatch
    service:
      app:
        controller: *app
        ports:
          http:
            port: 5690
    route:
      app:
        hostnames:
          - "join.zebernst.dev"
        parentRefs:
          - name: external
            namespace: kube-system
            sectionName: https
    persistence:
      cache:
        type: emptyDir
        globalMounts:
          - path: /.cache
      config:
        existingClaim: *app
        globalMounts:
          - path: /data/database
      default-steps:
        type: emptyDir
        globalMounts:
          - path: /etc/wizarr/wizard_steps
