---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/external-secrets.io/externalsecret_v1beta1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: trmnl
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword
  target:
    name: trmnl-secret
    creationPolicy: Owner
    template:
      engineVersion: v2
      data:
        INIT_POSTGRES_DBNAME: terminus
        INIT_POSTGRES_HOST: redspot-rw.database.svc.cluster.local
        INIT_POSTGRES_USER: "{{ .TRMNL_POSTGRES_USER }}"
        INIT_POSTGRES_PASS: "{{ .TRMNL_POSTGRES_PASSWORD }}"
        INIT_POSTGRES_SUPER_PASS: "{{ .POSTGRES_SUPER_PASS }}"
        DATABASE_URL: postgres://{{ .TRMNL_POSTGRES_USER }}:{{ .TRMNL_POSTGRES_PASSWORD }}@redspot-rw.database.svc.cluster.local:5432/terminus
        KEYVALUE_URL: redis://hindwing.database.svc.cluster.local:6379/terminus
        REDIS_URL: redis://hindwing.database.svc.cluster.local:6379/terminus
  dataFrom:
    - extract:
        key: trmnl
    - extract:
        key: cloudnative-pg
