---
# yaml-language-server: $schema=https://kube-schemas.pages.dev/external-secrets.io/externalsecret_v1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: rxresume
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword
  target:
    name: rxresume-secret
    template:
      data:
        # -- Auth (v5: single secret) --
        AUTH_SECRET: "{{ .AUTH_SECRET }}"
        # -- Printer (Chrome) --
        CHROME_TOKEN: "{{ .CHROME_TOKEN }}"
        # -- Database (Postgres) --
        DATABASE_URL: "postgresql://{{ .POSTGRES_USER }}:{{ .POSTGRES_PASS }}@redspot-rw.database.svc.cluster.local:5432/rxresume"
  dataFrom:
    - extract:
        key: rxresume
---
# yaml-language-server: $schema=https://kube-schemas.pages.dev/external-secrets.io/externalsecret_v1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: rxresume-initpg
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword
  target:
    name: rxresume-initpg-secret
    template:
      data:
        INIT_POSTGRES_HOST: redspot-rw.database.svc.cluster.local
        INIT_POSTGRES_SUPER_PASS: "{{ .POSTGRES_SUPER_PASS }}"
        INIT_POSTGRES_USER: "{{ .POSTGRES_USER }}"
        INIT_POSTGRES_PASS: "{{ .POSTGRES_PASS }}"
        INIT_POSTGRES_DBNAME: rxresume
  dataFrom:
    - extract:
        key: rxresume
    - extract:
        key: cloudnative-pg
