# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app rxresume
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    controllers:
      rxresume:
        annotations:
          reloader.stakater.com/auto: "true"
        initContainers:
          init-db:
            image:
              repository: ghcr.io/home-operations/postgres-init
              tag: 17
            envFrom:
              - secretRef:
                  name: rxresume-initpg-secret
        containers:
          chrome:
            image:
              repository: chromedp/headless-shell
              tag: latest
            env:
              TZ: America/Chicago
              CONCURRENT: "20"
              QUEUED: "10"
              EXIT_ON_HEALTH_FAILURE: "true"
              HEALTH: "true"
            securityContext:
              runAsUser: 999
              runAsGroup: 999
              allowPrivilegeEscalation: false
              capabilities: { drop: [ALL] }

          app:
            image:
              repository: ghcr.io/amruthpillai/reactive-resume
              tag: v5.0.0@sha256:0ed481b6a4208c25cfb3e27fc77e42ef902b2be5a788519629ee9e88c46ce3dd
            env:
              # Server
              TZ: America/Chicago
              APP_URL: https://rxresume.zebernst.dev
              PRINTER_APP_URL: http://localhost:3000

              # Printer
              PRINTER_ENDPOINT: http://localhost:9222

              # Flags
              FLAG_DISABLE_SIGNUPS: "false"

              # S3
              S3_FORCE_PATH_STYLE: "true"
              S3_ENDPOINT:
                valueFrom:
                  configMapKeyRef:
                    name: rxresume-bucket
                    key: BUCKET_HOST
              S3_BUCKET:
                valueFrom:
                  configMapKeyRef:
                    name: rxresume-bucket
                    key: BUCKET_NAME
              S3_PORT:
                valueFrom:
                  configMapKeyRef:
                    name: rxresume-bucket
                    key: BUCKET_PORT
              S3_ACCESS_KEY_ID:
                valueFrom:
                  secretKeyRef:
                    name: rxresume-bucket
                    key: AWS_ACCESS_KEY_ID
              S3_SECRET_ACCESS_KEY:
                valueFrom:
                  secretKeyRef:
                    name: rxresume-bucket
                    key: AWS_SECRET_ACCESS_KEY
            envFrom:
              - secretRef:
                  name: rxresume-secret
            resources:
              requests:
                cpu: 10m
              limits:
                cpu: 3000m
                memory: 600Mi
    service:
      app:
        controller: *app
        ports:
          http:
            port: &port 3000
    route:
      app:
        hostnames:
          - "{{ .Release.Name }}.zebernst.dev"
        parentRefs:
          - name: external
            namespace: kube-system
            sectionName: https
      cv:
        hostnames:
          - "cv.zebernst.dev"
        parentRefs:
          - name: external
            namespace: kube-system
            sectionName: https
        rules:
          - backendRefs:
              - identifier: app
                port: *port
            filters:
              - type: URLRewrite
                urlRewrite:
                  hostname: s3.zebernst.dev
                  path:
                    type: ReplaceFullPath
                    replaceFullPath: /rxresume/cmc9yncjy0000qbijs9oqtb4u/resumes/main.pdf
            matches:
              - path:
                  type: Exact
                  value: /
    persistence:
      cache:
        type: emptyDir
        advancedMounts:
          rxresume:
            app:
              - path: /.cache
      tmpfs:
        type: emptyDir
        advancedMounts:
          rxresume:
            app:
              - path: /tmp
                subPath: tmp
