# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app homebox
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 3.7.3
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system

  values:
    controllers:
      homebox:
        annotations:
          reloader.stakater.com/auto: "true"

        initContainers:
          init-db:
            image:
              repository: ghcr.io/home-operations/postgres-init
              tag: 17
            envFrom: &envFrom
              - secretRef:
                  name: homebox-secret

        containers:
          app:
            image:
              repository: ghcr.io/sysadminsmedia/homebox
              # todo: upgrade to v0.22, using main until sysadminsmedia/homebox#986 is officially released
              tag: main@sha256:bf16a48d4a8f1c78f4bba6c0e595044e2552dcf469c5bc97b4658f01b101eae2
            env:
              TZ: America/Chicago
              HBOX_LOG_LEVEL: info
              HBOX_LOG_FORMAT: json
              HBOX_WEB_MAX_UPLOAD_SIZE: 10
              HBOX_OPTIONS_CHECK_GITHUB_RELEASE: false
              HBOX_DATABASE_DRIVER: postgres
            envFrom: *envFrom
            resources:
              requests:
                cpu: 100m
                memory: 64Mi
              limits:
                memory: 256Mi

    defaultPodOptions:
      priorityClassName: internal-only
    service:
      app:
        controller: *app
        ports:
          http:
            port: 7745
    ingress:
      tailscale:
        className: tailscale
        hosts:
          - host: &tsHost "{{ .Release.Name }}.kite-harmonic.ts.net"
            paths:
              - path: /
                service:
                  identifier: app
                  port: http
        tls:
          - hosts:
              - *tsHost

    persistence:
      data:
        enabled: true
        existingClaim: *app
        globalMounts:
          - path: /data
