# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app keda
  namespace: &ns observability
spec:
  commonMetadata:
    labels:
      app.kubernetes.io/name: *app
  healthCheckExprs:
    - apiVersion: helm.toolkit.fluxcd.io/v2
      kind: HelmRelease
      current: "status.conditions.filter(e, e.type == 'Ready').all(e, e.status == 'True')"
  interval: 1h
  path: kubernetes/apps/observability/keda/app
  prune: true
  retryInterval: 1m
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  targetNamespace: *ns
  timeout: 5m
