# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: step-issuer
spec:
  interval: 1h
  chart:
    spec:
      chart: step-issuer
      version: 1.9.11
      sourceRef:
        kind: HelmRepository
        name: smallstep
        namespace: flux-system

  values:
    deployment:
      priorityClassName: control-plane-critical
    resources:
      requests:
        cpu: 10m
        memory: 32Mi
      limits:
        cpu: 100m
        memory: 256Mi
