# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app unpoller
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 3.7.3
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  dependsOn:
    - name: kube-prometheus-stack
      namespace: observability

  values:
    controllers:
      unpoller:
        containers:
          unpoller:
            image:
              repository: ghcr.io/unpoller/unpoller
              tag: v2.34.0@sha256:73423ddfe304e866b2cda2d3ecf8e68c15317c93a22945ad7d941d3ca3a6d022
            env:
              TZ: America/Chicago
              UP_UNIFI_DEFAULT_URL: https://unifi
              UP_PROMETHEUS_HTTP_LISTEN: 0.0.0.0:80
              UP_INFLUXDB_DISABLE: true
              UP_UNIFI_DEFAULT_SAVE_IDS: true
              UP_UNIFI_DEFAULT_SAVE_EVENTS: true
              UP_UNIFI_DEFAULT_SAVE_ALARMS: true
              UP_UNIFI_DEFAULT_SAVE_ANOMALIES: true
              UP_UNIFI_DEFAULT_SAVE_DPI: false
              UP_UNIFI_DEFAULT_SITE_0: &site default
            envFrom:
              - secretRef:
                  name: unpoller-secret
            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }
            resources:
              requests:
                cpu: 10m
              limits:
                memory: 128Mi
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 568
        runAsGroup: 568
    service:
      app:
        controller: *app
        ports:
          http:
            port: 80
    serviceMonitor:
      app:
        serviceName: *app
        endpoints:
          - port: http
            scheme: http
            path: /metrics
            interval: 2m # Unifi API only polls at 2m intervals
            scrapeTimeout: 10s
            relabelings:
              - action: labeldrop
                regex: pod
              - action: replace
                replacement: *site
                targetLabel: instance
