# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app openbooks
spec:
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 3.7.3
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system

  values:
    controllers:
      *app:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          *app:
            image:
              repository: evanbuss/openbooks
              tag: 4.5.0
            args:
            - --name=$(OPENBOOKS_IRC_NICK)
            - --useragent=$(OPENBOOKS_IRC_NICK)
            - --dir=/openbooks
            - --no-browser-downloads
            - --persist
            - --log
            env:
              PORT: &port 80
            envFrom:
              - secretRef:
                  name: openbooks-secret
    defaultPodOptions:
      priorityClassName: best-effort
      securityContext:
        runAsNonRoot: true
        runAsUser: 568
        runAsGroup: 568
        fsGroup: 568
        fsGroupChangePolicy: OnRootMismatch
        supplementalGroups: [ 65568 ]
    service:
      *app:
        controller: *app
        ports:
          http:
            port: *port
    ingress:
      tailscale:
        className: tailscale
        hosts:
          - host: &tsHost "{{ .Release.Name }}.kite-harmonic.ts.net"
            paths:
              - path: /
                service:
                  identifier: *app
                  port: http
        tls:
          - hosts:
              - *tsHost
    persistence:
      books:
        type: nfs
        server: nas.internal
        path: /volume1/media
        globalMounts:
          - path: /openbooks/books
            subPath: downloads/openbooks
      logs:
        type: emptyDir
        globalMounts:
          - path: /openbooks/logs
