# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app plex
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  dependsOn:
    - name: intel-device-plugin-gpu
      namespace: kube-system

  values:
    controllers:
      *app:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          *app:
            image:
              repository: ghcr.io/home-operations/plex
              tag: 1.42.1.10060
            env:
              TZ: America/Chicago
              PLEX_ADVERTISE_URL: https://plex.zebernst.dev:443,http://192.168.20.5:32400,http://[::ffff:c0a8:1405]:32400,http://plex.kite-harmonic.ts.net:32400
              PLEX_NO_AUTH_NETWORKS: 10.0.0.0/8
            probes:
              liveness: &probe
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /identity
                    port: 32400
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probe
              startup:
                enabled: true
                spec:
                  failureThreshold: 30
                  periodSeconds: 10
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }
            resources:
              requests:
                cpu: 100m
                memory: 8Gi
              limits:
                gpu.intel.com/i915: 1
                memory: 16Gi
    defaultPodOptions:
      priorityClassName: external-facing
      securityContext:
        runAsNonRoot: true
        runAsUser: 568
        runAsGroup: 568
        fsGroup: 568
        fsGroupChangePolicy: OnRootMismatch
        supplementalGroups: [65568]
      nodeSelector:
        intel.feature.node.kubernetes.io/gpu: "true"
    service:
      *app:
        type: LoadBalancer
        annotations:
          lbipam.cilium.io/ips: 192.168.20.5, ::ffff:c0a8:1405
        ports:
          http:
            port: &port 32400
      ts:
        controller: *app
        type: LoadBalancer
        loadBalancerClass: tailscale
        annotations:
          tailscale.com/hostname: plex
        ports:
          http:
            port: *port
    route:
      *app:
        hostnames:
          - "{{ .Release.Name }}.zebernst.dev"
        parentRefs:
          - name: external
            namespace: kube-system
            sectionName: https
        rules:
          # Remove the 'Range' header from streaming requests.
          - backendRefs:
              - identifier: *app
                port: *port
            filters:
              - type: RequestHeaderModifier
                requestHeaderModifier:
                  remove: [ "Range" ]
            matches:
              - path:
                  type: PathPrefix
                  value: /library/streams
          # Redirect root requests to the Plex landing page
          # commented until https://github.com/bjw-s-labs/helm-charts/issues/486 is fixed.
#          - filters:
#              - type: RequestRedirect
#                requestRedirect:
#                  path:
#                    type: ReplaceFullPath
#                    replaceFullPath: /web
#                  statusCode:
#                    302
#            matches:
#              - headers:
#                  - type: Exact
#                    name: X-Plex-Device-Name
#                    value: ""
#                path:
#                  type: Exact
#                  value: /
#              - queryParams:
#                  - type: Exact
#                    name: X-Plex-Device-Name
#                    value: ""
#                path:
#                  type: Exact
#                  value: /
          # Catch-all for everything else
          - backendRefs:
              - identifier: *app
                port: *port
    persistence:
      config:
        existingClaim: plex
        globalMounts:
          - path: /config/Library/Application Support/Plex Media Server
      cache:
        existingClaim: plex-cache
        globalMounts:
          - path: /config/Library/Application Support/Plex Media Server/Cache
            subPath: Cache
          - path: /config/Library/Application Support/Plex Media Server/Media
            subPath: Media
      logs:
        type: emptyDir
        globalMounts:
          - path: /config/Library/Application Support/Plex Media Server/Logs
      media:
        type: nfs
        server: nas.internal
        path: /volume1/media
        globalMounts:
          - path: /media/tv
            subPath: tv
            readOnly: true
          - path: /media/tv-uhd
            subPath: tv-uhd
            readOnly: true
          - path: /media/movies
            subPath: movies
            readOnly: true
          - path: /media/movies-uhd
            subPath: movies-uhd
            readOnly: true
          - path: /media/plex/posters
            subPath: posters
            readOnly: true
      optimized:
        existingClaim: plex-optimized-media
        globalMounts:
          - path: /media/plex/optimized
      tmp:
        type: emptyDir
      transcode:
        type: emptyDir
        medium: Memory
