# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: tailscale-operator
spec:
  interval: 30m
  chart:
    spec:
      chart: tailscale-operator
      version: 1.94.1
      sourceRef:
        kind: HelmRepository
        name: tailscale
        namespace: flux-system
  install:
    crds: CreateReplace
  upgrade:
    crds: CreateReplace

  valuesFrom:
    - kind: Secret
      name: tailscale-secret
      valuesKey: clientId
      targetPath: oauth.clientId
    - kind: Secret
      name: tailscale-secret
      valuesKey: clientSecret
      targetPath: oauth.clientSecret
  values:
    priorityClassName: network-critical
    operatorConfig:
      defaultTags:
        - "tag:k8s-operator"
      tolerations:
        - key: node-role.kubernetes.io/control-plane
          operator: Exists
          effect: NoSchedule
      hostname: jupiter
    proxyConfig:
      defaultTags: "tag:k8s"
      defaultProxyClass: tailscale-tun
    apiServerProxyConfig:
      mode: "true"
