# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app nocodb
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 3.7.3
      interval: 30m
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system

  values:
    controllers:
      nocodb:
        annotations:
          reloader.stakater.com/auto: "true"
        initContainers:
          init-db:
            image:
              repository: ghcr.io/home-operations/postgres-init
              tag: 17
            envFrom: &envFrom
              - secretRef:
                  name: nocodb-secret
        containers:
          app:
            image:
              repository: docker.io/nocodb/nocodb
              tag: 0.301.3@sha256:c3d38b5563234d287710519ff7507d43dfa553241bc70b955f91d90698065340
            env:
              PORT: &port 8080
              NC_JWT_EXPIRES_IN: 48h
              NC_PUBLIC_URL: "https://{{ .Release.Name }}.kite-harmonic.ts.net"
            envFrom: *envFrom
            resources:
              requests:
                cpu: 5m
                memory: 128M
              limits:
                memory: 2G
    defaultPodOptions:
      priorityClassName: internal-only
      securityContext:
        runAsNonRoot: true
        runAsUser: 568
        runAsGroup: 568
        fsGroup: 568
        fsGroupChangePolicy: OnRootMismatch
        supplementalGroups: [ 65568 ]
    service:
      app:
        controller: nocodb
        ports:
          http:
            port: *port
    ingress:
      ts:
        className: tailscale
        hosts:
          - host: &tsHost "{{ .Release.Name }}.kite-harmonic.ts.net"
            paths:
              - path: /
                service:
                  identifier: app
                  port: http
        tls:
          - hosts:
              - *tsHost
    persistence:
      data:
        existingClaim: *app
        advancedMounts:
          nocodb:
            app:
              - path: /usr/app/data
