# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: rook-ceph-operator
spec:
  interval: 30m
  chart:
    spec:
      chart: rook-ceph
      version: v1.19.2
      sourceRef:
        kind: HelmRepository
        name: rook-ceph
        namespace: flux-system

  values:
    csi:
      cephFSKernelMountOptions: ms_mode=prefer-crc
      enableLiveness: true
      serviceMonitor:
        enabled: true
    enableDiscoveryDaemon: true
    monitoring:
      enabled: true
    obcAllowAdditionalConfigFields: "maxObjects,maxSize,bucketPolicy,bucketLifecycle"
    resources:
      requests:
        cpu: 100m # unchangable
        memory: 128Mi # unchangable
      limits: {}
