# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: openebs
spec:
  interval: 30m
  chart:
    spec:
      chart: openebs
      version: 4.4.0
      sourceRef:
        kind: HelmRepository
        name: openebs
        namespace: flux-system
  install:
    disableHooks: true
  upgrade:
    disableHooks: true

  values:
    engines:
      local:
        lvm:
          enabled: false
        zfs:
          enabled: false
      replicated:
        mayastor:
          enabled: false
    openebs-crds:
      csi:
        volumeSnapshots:
          enabled: false
          keep: false
    localpv-provisioner:
      localpv:
        image:
          registry: quay.io/
        basePath: &basePath /var/mnt/extra/openebs/local
      priorityClass:
        name: storage-critical
        enabled: true
      hostpathClass:
        enabled: true
        name: openebs-hostpath
        isDefaultClass: false
        basePath: *basePath
      helperPod:
        image:
          registry: quay.io/
    zfs-localpv:
      enabled: false
    lvm-localpv:
      enabled: false
    mayastor:
      enabled: false
    loki:
      enabled: false
    alloy:
      enabled: false
