# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: open-webui
spec:
  interval: 1h
  chart:
    spec:
      chart: open-webui
      version: 12.5.0
      sourceRef:
        kind: HelmRepository
        name: open-webui
        namespace: flux-system

  values:
    ollama:
      enabled: false
    pipelines:
      enabled: false
    tika:
      enabled: false
    websocket:
      enabled: false
    extraEnvVars:
      - name: CORS_ALLOW_ORIGIN
        value: "https://open-webui.internal;https://open-webui.zebernst.dev;https://open-webui.kite-harmonic.ts.net;http://open-webui.ai.svc.cluster.local"
    ollamaUrls:
      - http://ollama.ai.svc.cluster.local:11434
    persistence:
      enabled: true
      existingClaim: open-webui
